<div class="container">
    <div class="row">
        <div class="col">
            <h1>Listado de personas</h1>
            <button class='btn btn-primary' [disabled]='deshabilitar'
            (click)='agregarPersona()'>Agregar Persona</button>
           <!-- <p *ngIf="mostrar">{{mensaje}} con el titulo de {{titulo}} </p> --><!--Sirve en caso de T/F para mostrar el resultado-->
           <p *ngIf="mostrar; else sinPersona">{{mensaje}} con el titulo de {{titulo}} </p> 
           <ng-template #sinPersona><!--Con ng sentencia else-->
                <p>No se ha agregado ninnguna persona</p>
           </ng-template>
           <app-persona></app-persona>

            <label>Titulo Persona</label>
            <!--TWO WAY BINDING-->
            <input type="text" class="form-control"
             [(ngModel)]='titulo'>
             {{titulo}}

        </div>
    </div>
</div>
